<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container-width" style ="background-color: #f7def5;">
		<section class="footer-bottom border-top row">
			<div class="col md-2 px-4">
				<p class="text-muted"> &copy 2025  Nexora </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">info@nexora.io</span>
				<span  class="px-2">+1234567890</span>
				<span  class="px-2">123 street</span>
			</div>
			<div class="col-md-2  text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->

